### OS X Finder ###
.DS_Store

### Xcode per-user config ###
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
*.xccheckout

### Vapor ###
Config/secrets

### Vapor Patch ###
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store

### Build products ###
build/
.build/
*.o
*.LinkFileList
*.hmap

StubServer.xcodeproj/
